<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Items to Order</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/addItemsToOrder.css">
</head>
<body>
<div class="container">
  <h1>Add Items to Order</h1>
  <form th:action="@{/orders/addItems}" method="post">
    <input type="hidden" name="orderId" th:value="${order.id}" />
    <div class="menu-list">
      <div th:each="item : ${menuItems}" class="menu-item">
        <h5 th:text="${item.name}">Item Name</h5>
        <p th:text="'Price: ' + ${item.price}">Item Price</p>
        <div class="quantity-controls">
          <input type="hidden" name="itemId" th:value="${item.id}">
          <label>
            Quantity:
            <input type="number" name="quantity" min="0" value="0">
          </label>
        </div>
        <div class="comment-controls">
          <label>
            Comment:
            <input type="text" name="comments" placeholder="Add a comment">
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Add to Order</button>
  </form>
</div>
</body>
</html>
